.App {
  overflow: scroll;
  overflow-x: hidden;
}

.page_content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1280px;
  height: 80vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20vh;
  text-align: start;
  width: 34vw;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 16vh;
  margin-left: 35vw;
  margin-bottom: 40px;
  text-align: center;
  width: 30vw;

}

.header {
  background-color: #1C1C21;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;

}

.save {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.text {
  margin-left: 40px;
}

.ingredient {
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
  padding-top: 32px;
}

.ingredients {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.component {
  overflow: hidden;
  text-align: center;
  position: relative;
  top: 5%;
  margin: 0 auto;
  width: 680px;
}

.main {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90vh;
  width: 584px;
}

.status {
  composes: text text_type_main-default pb-6 from global;
  color: #00CCCC;
}

.orders {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90vh;
  width: 790px;
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 auto;
  width: 640px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.content{
  justify-content: flex-start;
  text-align: left;
}

@media (max-width: 1200px) {
  .App {
    overflow-x: scroll;
  }
}

.input_size_default {
  width: 400px;
  min-height: 64px;
}

.total{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}