.header{
    background-color: #1C1C21;
    min-width: 1280px;
}

.content{
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    position: relative;
    top: 30px;
    left: 20%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.profile{
    position: relative;
    left: 70%;
}

.icon{
    padding-left: 8px;
}