.constructor {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 40px;
    max-height: 540px;
    width: 600px;
}

.locked{
    padding-left: 28px;
    width: 550px;
}

.main{
    overflow-y: scroll; 
    overflow-x: hidden;
    height: 480px;
}

.element{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    width: 525px;
}

.cost{
    margin: 40px 0 auto auto; 
    display: inline-flex; 
}

.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 40px;
    max-height: 70vh;
    width: 600px;
    flex-grow: 1;
}

.drop {
    outline: 3px solid rgb(136, 118, 236);
    border-radius: 30px;
}

p{
    text-align: center;
}
